<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link 
        rel="stylesheet" 
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
        crossorigin="anonymous"
    />
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">Simple Todo App</a>
        <button
            type="button"
            class = "btn btn-primary"
            data-toggle="modal"
            data-target="#newItemModal"
        >
            Add New Item
        </button>
    </nav>

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Task</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
                {% for task in tasks %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{task.name}}</td>
                    <td>
                        <a href="#">
                            <button type="button" class="btn btn-primary">View</button>
                        </a>
                        <button 
                            type="button" 
                            data-item-id="{{task.id}}"
                            data-toggle="modal"
                            data-target="#deleteModal"
                            class="btn btn-danger"
                            onclick="{setDeleteId(this)}"
                        >
                            Delete
                        </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

<script>
    var deleteId = 0;
    function setDeleteId(event) {
        deleteId = event.dataset.itemId;
    }

    function deleteTask(id) {
        fetch("/task/" + id, {
            method: "DELETE",
        })
            .then(() => window.location.reload())
            .catch((error) => console.log("Something went wrong: " + error));
    }
</script>

<script 
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
    crossorigin="anonymous"
></script>
<script 
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" 
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" 
    crossorigin="anonymous"
></script>
<script 
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
    crossorigin="anonymous"
></script>
</html>